.button {
    border: 0.1rem solid $black;
    font-size: 1.6rem;
    line-height: 1em;
    width: 22rem;
    height: 6rem;
    margin: 3rem 0 6rem 0;
    background: transparent;

    @include touch {
        margin: 1.5rem 0;
    }

    &:hover {
        background: $black;
        color: $white;
    }
}

.button-librairy {
    cursor: pointer;

    span {
        top: 0;
        left: 0;
        transition: opacity $speed $bezier;
    }

    &--remove {
        opacity: 0;
        position: absolute;
    }

    &.is-active &--add {
        opacity: 0;
    }

    &.is-active &--remove {
        opacity: 1;
    }
}
