.About {
    padding-top: 26rem;

    @include touch {
        padding-top: 16rem;
    }

    &__description {
        justify-content: flex-end;
    }

    &__people {
        align-items: flex-end;

        &--image {
            width: 100%;
            background: $grey;
            overflow: hidden;

            @include desktop {
                width: 36rem;
                height: 48rem;
            }
        }

        &--text {
            font-size: 1.5rem;
            line-height: 1.5em;

            @include desktop {
                font-size: 2rem;
                margin-left: -5rem;
                padding-left: 12rem;
            }
        }

        &--text::before {
            content: '';
            height: 0.1rem;
            background: $black;
            width: 10rem;
            position: absolute;
            top: 1em;
            left: 0;

            @include touch {
                left: -8rem;
                top: 0.6em;
            }
        }

        picture,
        picture img {
            height: 100%;
            width: 100%;
            @include object-fit;
        }

        picture {
            @include touch {
                position: relative;
            }
        }

        h3 {
            font-size: 2em;
            @include touch {
                padding-left: 3rem;
            }
        }
    }
}
