.About {
    padding-top: 26rem;

    &__description {
        justify-content: flex-end;
    }

    &__people {
        align-items: flex-end;

        &--image {
            width: 36rem;
            height: 48rem;
            overflow: hidden;
            background: $grey;
        }

        &--text {
            padding-left: 12rem;
            font-size: 2rem;
            line-height: 1.5em;
            margin-left: -5rem;
        }

        &--text::before {
            content: '';
            height: 0.1rem;
            background: $black;
            width: 10rem;
            position: absolute;
            top: 1em;
            left: 0;
        }

        picture,
        picture img {
            height: 100%;
            width: 100%;
            @include object-fit;
        }

        h3 {
            font-size: 2em;
        }
    }
}
