.Filters {
    font-size: 1.6rem;
    line-height: 1.2em;
    padding: 0 2rem;
    overflow-x: auto;

    @include touch {
        margin: 0 #{-$mobile-padding};
        width: 100vw;
        justify-content: flex-start;
    }

    &.sub-filters {
        @include touch {
            margin: 0;
        }
    }

    li {
        text-align: center;
        margin: 0 2rem;
        height: 9.2rem;
    }

    li.is-active {
        pointer-events: none;
        cursor: not-allowed;
    }

    a {
        height: 100%;
        width: 100%;
    }

    &:not(.is-activable) li.is-active {
        text-decoration: underline;
    }
}

.Filters.is-activable {
    li {
        width: 9.2rem;
        padding: 0 1rem;
    }

    li.is-active {
        background: $white;
        border-radius: 50%;
    }
}
