.Home {
    height: 100vh;
    background: $greige;

    &__slider-indicator {
        bottom: 10vh;
        max-width: map-get($breakpoints, widescreen);

        @include touch {
            bottom: 3.5rem;
        }
    }

    &__indicator {
        height: 0.1rem;
        background: $black;
        width: 4rem;
        margin-left: 1rem;
        display: flex;
        align-items: center;
        position: relative;

        &::before {
            content: '';
            height: 0.7rem;
            width: 0.7rem;
            border-radius: 50%;
            background: $greige;
            border: 0.1rem solid $black;
            position: absolute;
            animation: sliderIndicator 1.5s infinite;
            margin-left: 25%;
        }
    }

    &__slider {
        height: 100%;
        width: 100%;
        overflow: hidden;
        z-index: map-get($zindex, section);

        @include tablet {
            padding-left: 25vw;
            .Home__last {
                width: 25vw;
            }
        }

        @include phone-only {
            padding-left: 10vw;
            .Home__last {
                width: 10vw;
            }
        }

        @include touch {
            overflow-x: scroll;
        }
    }

    &__post {
        width: 50vw;
        height: 60vh;
        z-index: map-get($zindex, section);

        @include phone-only {
            width: 80vw;
            border: 15vw solid transparent;
        }

        @include desktop {
            &:last-of-type  {
                margin-right: 25vw;
            }
        }
    }

    .Featured__category {
        transform: translateY(50%);
        bottom: 0;
        top: 0;

        @include touch {
            transform: translateY(calc(100% + 2rem));
        }
    }

    &__image {
        z-index: map-get($zindex, section);

        @include touch {
            flex-wrap: wrap;
        }

        picture {
            width: auto;
            height: auto;
            max-height: 60vh;
            position: relative;
            padding-top: 0 !important;

            transition: clip-path $speed * 3 $bezier $speed * 2,
                transform $speed * 2 $bezier;

            @include desktop {
                clip-path: inset(100% 0 0 0);
            }

            // @include touch {
            //     width: 75%;
            // }
        }

        picture img {
            max-height: 50vh;
            width: auto;
            max-width: 100%;
            // @include object-fit;
            // @include touch {
            //     object-fit: contain;
            // }
        }
    }

    &__content {
        right: -25%;
        bottom: 0;
        opacity: 0;
        z-index: map-get($zindex, above-section);
        transform: translate3d(0, 2em, 0);
        transition: transform $speed * 2.5 $bezier, opacity $speed * 2.5 $bezier;
    }

    &__circle {
        top: 0;
        left: 0;
        z-index: map-get($zindex, base);
        overflow: hidden;

        &--entry {
            transform-origin: center center;

            &:nth-of-type(1) {
                width: 45vw;
                height: 45vw;
            }

            &:nth-of-type(2) {
                width: 25vw;
                height: 25vw;
            }

            &:nth-of-type(3) {
                width: 10vw;
                height: 10vw;
            }
        }

        &--entry > div {
            top: 0;
            left: 0;
            border-radius: 50%;
            z-index: map-get($zindex, base);
            opacity: 0;
            transition: opacity $speed * 3 $bezier;

            &.is-active {
                z-index: map-get($zindex, above-base);
                opacity: 1;
            }
        }
    }
}

.Home__slider:not(.is-scrolling) .Home__post.is-active.is-hover {
    .Home__category--white span {
        padding-top: 0;
    }

    .Home__image picture {
        transform: scale(1.05);
    }

    .Home__content {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.Home__post.is-active {
    .Featured__category {
        transform: translateY(calc(100% + 2rem));
    }
    .Home__image picture {
        clip-path: inset(0 0 0 0);

        img {
            transform: scale3d(1, 1, 1);
        }
    }
}

.Home__slider.is-hover .Home__post .Home__category:not(.Home__category--white) {
    span {
        padding-top: 1.2em !important;
    }
}
