.Single {
    padding-top: 26rem;
    background: $greige;

    @include touch {
        padding-top: 16rem;
    }
    button,
    a {
        cursor: pointer;
    }

    > .container {
        @include touch {
            display: block;
        }
    }

    &__left {
        z-index: map-get($zindex, section);
    }

    &__date {
        z-index: map-get($zindex, section);

        @include touch {
            justify-content: space-between;
            font-size: 1.2rem;
        }
    }

    .is-first-letter {
        @include touch {
        }
    }

    &__right {
        z-index: map-get($zindex, under-section);

        a:hover {
            text-decoration: underline;
        }
    }

    &__image {
        top: 5rem;
        margin-bottom: 8rem;
    }

    img {
        width: 100%;
    }

    &__date span:first-child::before {
        content: ' ';
        display: block;
        background: $black;
        width: 3rem;
        height: 0.1rem;
        margin-right: 1rem;

        @include touch {
            width: 2rem;
        }
    }

    &__title {
        font-size: 6rem;
        line-height: 1.2em;
        z-index: map-get($zindex, section);

        @include touch {
            font-size: 4rem;
        }
    }

    &__content {
        z-index: map-get($zindex, section);
    }

    .button-librairy {
        @include touch {
            margin-bottom: 3rem;
        }
    }

    &__comments--form {
        #reply-title,
        .comment-form-url {
            display: none;
        }

        form {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        p {
            margin-bottom: 2rem;
            width: 100%;
        }

        textarea,
        input[type='text'] {
            width: 100%;
            border: 0.1rem solid rgba($black, 0.2);
            background: transparent;
            padding: 2rem;
        }

        .comment-form-author,
        .comment-form-email {
            @include desktop {
                width: 48%;
            }
        }

        label {
            margin-bottom: 1rem;
            display: block;
        }

        input[type='submit'] {
            @extend .button;
            float: right;
            cursor: pointer;

            @include touch {
                width: 100%;
            }
        }
    }

    &__comments--title {
        margin-top: 8rem;
        margin-bottom: 1rem;

        @include touch {
            margin: 3rem 0;
        }

        &::before {
            content: ' ';
            display: block;
            background: $black;
            width: 3rem;
            height: 0.1rem;
            margin-right: 1rem;
        }
    }

    &__comment {
        border-bottom: 0.1rem solid rgba($black, 0.2);
        padding: 3rem 0;
    }

    &__footer {
        border-top: 0.1rem solid $black;
        margin-top: 6rem;
        padding-top: 3rem;

        @include touch {
            display: block;
        }
    }

    &__relatedPosts h2 {
        padding: 8rem 0 5rem 0;
        @include touch {
            padding: $mobile-padding 0;
        }

        &::before {
            content: ' ';
            display: block;
            background: $black;
            width: 5rem;
            height: 0.1rem;
            margin-right: 4rem;
        }
    }

    .LastPosts .is-column {
        margin-bottom: 10rem;
    }
}
