@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes sliderIndicator {
    0% {
        margin-left: 25%;
    }

    50% {
        margin-left: 50%;
    }

    100% {
        margin-left: 25%;
    }
}
