.SearchForm {
    margin: auto;

    input {
        padding: 2rem;
        display: block;
        font-size: 3rem;
        border: 0.5rem solid $white;
        background: transparent;
        padding-left: 7rem;

        @include touch {
            font-size: 1.6rem;
            padding-left: 6rem;
            border-width: 0.2rem;
        }
    }

    &__svg {
        width: 3rem;
        margin: 0 3rem;
        transform: translateY(-0.2rem);

        @include touch {
            width: 2rem;
            margin: 0 2.5rem;
        }
    }

    svg {
        height: 100%;
        width: 100%;
    }

    &.no-icon input {
        padding-left: 0 !important;
    }
}
