.container {
    width: 100%;
    position: relative;
    z-index: map-get($zindex, section);
    max-width: map-get($breakpoints, desktop);
    margin: 0 auto;
    display: block;

    // from 1000px to 768px
    @include touch {
        padding: 0 $mobile-padding;
    }
}

.js-ajax-preload {
    width: 100%;
    z-index: map-get($zindex, base);
}
