.Footer {
    background: $greige;
    font-size: 1.4rem;
    line-height: 1.4em;
    padding: 6.5rem 0;

    @include desktop {
        padding: 9rem 2rem 5rem 2rem;
    }

    li {
        margin-bottom: 2rem;
    }

    a:hover {
        text-decoration: underline;
    }

    > .container {
        @include touch {
            display: block;
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        width: 55%;

        &--item {
            width: 50%;
        }

        @include desktop {
            max-height: 30rem;
            border-right: 0.1rem solid $black;
        }

        @include touch {
            display: block;
            width: 100%;
            border-bottom: 0.1rem solid $black;
            padding-bottom: 4.8rem;
            &--item {
                width: 100%;
            }
        }
    }

    &__contact {
        padding-top: 4.8rem;

        @include desktop {
            padding: 0 0 0 5%;
        }

        h2 {
            font-size: 4rem;
            line-height: 1.125em;
            font-weight: map-get($fontweight, normal);
            margin-bottom: 2rem;
        }
        a {
            margin-right: 2rem;
        }
    }
}

body.home .Footer {
    display: none !important;
}
