.Footer {
    background: $greige;
    padding: 9rem 2rem 5rem 2rem;
    font-size: 1.4rem;
    line-height: 1.4em;

    li {
        margin-bottom: 2rem;
    }

    a:hover {
        text-decoration: underline;
    }

    &__links {
        display: flex;
        flex-direction: column;
        max-height: 30rem;
        flex-wrap: wrap;
        align-content: flex-start;
        width: 55%;
        border-right: 0.1rem solid $black;

        &--item {
            width: 50%;
        }
    }

    &__contact {
        padding: 0 0 0 5%;

        h2 {
            font-size: 4rem;
            line-height: 1.125em;
            font-weight: map-get($fontweight, normal);
            margin-bottom: 2rem;
        }
        a {
            margin-right: 2rem;
        }
    }
}
