.Footer {
    background: $greige;
    font-size: 1.4rem;
    line-height: 1.4em;
    padding: 6.5rem 0;

    @include desktop {
        padding: 9rem 0 5rem 0;
    }

    .Navbar__logo::after {
        content: '';
        width: 15rem;
        background: $black;
        height: 0.1rem;
        position: absolute;
        left: 0;
        bottom: 0;
    }

    &__social a {
        border: 0.1rem solid $black;
        border-radius: 50%;
        height: 3rem;
        width: 3rem;

        &:hover {
            border-color: $grey;
        }
    }

    &__social a.facebook svg {
        width: 0.9rem;
    }

    svg {
        margin-right: 0;
    }

    li {
        margin-bottom: 2rem;
    }

    &__links a:hover {
        text-decoration: underline;
    }

    &__links {
        flex-direction: column;
        flex-wrap: wrap;

        @include desktop {
            max-height: 25rem;
        }

        &--item {
            max-width: 40rem;
        }
    }
}

body.home .Footer {
    display: none !important;
}

.Loader {
    transition: opacity $speed $bezier;
    top: 0;
    left: 0;
    opacity: 0;
    background: $greige;
    z-index: map-get($zindex, under-header);
    pointer-events: none;
}
