.Navbar {
    width: 100%;
    font-size: 1.4rem;
    line-height: 1.4em;
    height: 6rem;
    z-index: map-get($zindex, header);
    max-width: map-get($breakpoints, widescreen);
    margin: 0 auto;
    margin-top: 5rem;
    left: 0;
    right: 0;
    padding: 0 $mobile-padding;

    @include touch {
        margin-top: 3.5rem;
        font-size: 2rem;
    }

    &__logo {
        font-size: 3rem;
        line-height: 1em;

        @include touch {
            font-size: 2.2rem;
        }
    }

    &__phoneBtn,
    &__logo {
        // mix-blend-mode: difference;
    }

    &__phoneBtn {
        z-index: map-get($zindex, above-all);
        top: $mobile-padding;
        right: $mobile-padding;
    }

    &__links {
        @include touch {
            position: fixed;
            height: 100vh;
            width: 100vw;
            display: none;
            top: 0;
            left: 0;
            background: $white;
            overflow-y: scroll;
            padding: #{$mobile-padding * 2} $mobile-padding;
        }
    }

    &__links a,
    &__links button {
        padding: 0 2rem;
        height: 100%;
        width: 100%;
        border: 0.1rem solid transparent;
        cursor: pointer;
        line-height: inherit;

        @include touch {
            font-weight: bold;
            justify-content: flex-start;
            align-items: center;
            padding: 1rem 0;
        }
    }

    button svg {
        margin-right: 0;
        height: 100%;

        @include touch {
            width: 3.5rem;
            height: 1.5rem;
        }
    }

    &__links > li:hover {
        background: $white;

        > a {
            border: 0.1rem solid $greige;
            border-bottom: 0.1rem solid transparent;
        }

        .Navbar__sublinks {
            display: block;
        }
    }

    &__sublinks {
        padding: 1rem 0;
        display: none;
        text-align: left;
        background: $white;
        right: 0;
        width: 100%;

        @include desktop {
            border: 0.1rem solid $greige;
        }

        @include touch {
            display: block;
            position: relative;
            padding: 0 0 0 2rem;
            border-left: 0.1rem solid $black;
        }

        li a {
            padding: 1rem 2rem;
            @include touch {
                padding: 1rem 0;
            }
        }

        li:hover {
            background: $greige;
        }
    }

    &__librairy-pins {
        transform-origin: center center;
        transform: translate(0.2em, -0.2em) scale(0.8);
        &::before {
            content: '(';
        }
        &::after {
            content: ')';
        }
    }

    &__search-overlay {
        z-index: map-get($zindex, above-header);
        transform: translateY(-100%);
        transition: transform $speed $bezier;
    }

    &__search-close {
        color: $black;
        font-size: 3em;
        margin-left: 4rem;
        cursor: pointer;

        @include touch {
            font-size: 3rem;
            margin-left: 1rem;
        }
    }
}

body.is-search .Navbar__search-overlay {
    transform: translateY(0);
}

body.is-menu .Navbar__links {
    display: block;
}
