.Navbar {
    width: 100%;
    font-size: 1.4rem;
    line-height: 1.4em;
    height: 6rem;
    z-index: map-get($zindex, header);
    max-width: map-get($breakpoints, widescreen);
    margin: 0 auto;
    margin-top: 5rem;
    left: 0;
    right: 0;
    padding: 0 $mobile-padding;

    &__logo {
        font-size: 3rem;
        line-height: 1em;
    }

    &__links a {
        padding: 0 2.2rem;
        height: 100%;
        width: 100%;

        border: 0.1rem solid transparent;
    }

    &__links > li:hover {
        background: $white;
        > a {
            border: 0.1rem solid $greige;
            border-bottom: 0.1rem solid transparent;
        }

        .Navbar__sublinks {
            display: block;
        }
    }

    &__sublinks {
        padding-top: 1rem;
        display: none;
        text-align: left;
        background: $white;
        right: 0;
        width: 120%;
        border: 0.1rem solid $greige;

        li {
            height: 4rem;
        }

        li:hover {
            background: $greige;
        }
    }
}
